* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1faee;
}

body {
  background-color: #457b9d;
}

.container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas:
    '. header .'
    ' . main .'
    '. . .';
  font-size: calc(0.75em + 1vmin);
}

header {
  grid-area: header;
  text-align: center;
}

header h1 {
  padding: 1em;
}

main {
  grid-area: main;
}

input[type='text'],
input[type='text']:focus {
  border: none;
  background-color: #1d3557;
  color: #f1faee;
}

.todos {
  padding: 1em 0;
  list-style: none;
}

.todos li {
  display: flex;
  padding: 0.7em;
  background-color: #1d3557;
  border: 1px solid #457b9d;
  border-radius: 0.3em;
}

.todos i {
  margin-right: auto auto auto 0.5em;
}

.todos span {
  flex: 1;
}

.todos .delete {
  cursor: pointer;
}

.add {
  text-align: center;
}

.form-control {
  width: 100%;
  display: block;
  padding: 0.7em;
  border-radius: 0.3em;
  font-size: 1em;
}

label {
  padding-bottom: 0.5em;
  display: block;
}

.hidden {
  display: none;
}
